<!-- Footer -->
<footer class="footer d-none d-sm-block">
    <div class="container footer-element max-width">
        <div class="info">
            <h1 class="footer-sizing">ИНФОРМАЦИЯ</h1>
            <ul class="style-list">
                <li><a class="style-list-item" href="#">Главная</a></li>
                <li><a class="style-list-item" href="#">О компании</a></li>
                <li><a class="style-list-item" href="#">Доставка</a></li>
                <li><a class="style-list-item" href="#">Контакты</a></li>
                <li><a class="style-list-item" href="#">Пользовательское соглашение</a></li>
            </ul>
        </div>
        <div class="catalogue">
            <h1 class="footer-sizing">КАТАЛОГ</h1>
            <ul class="style-list">
                <li><a class="style-list-item" href="#">Витамины и БАДы</a></li>
                <li><a class="style-list-item" href="#">Сахарный диабет</a></li>
                <li><a class="style-list-item" href="#">Лекарственные препараты</a></li>
                <li><a class="style-list-item" href="#">Приборы и изделия</a></li>
            </ul>
        </div>
        <div class="mass-market">
            <h1 class="footer-sizing">МАСС-МАРКЕТ</h1>
            <ul class="style-list">
                <li><a class="style-list-item" href="#">Мама и малыш</a></li>
                <li><a class="style-list-item" href="#">Чаи и травы</a></li>
                <li><a class="style-list-item" href="#">Гигиенические средства</a></li>
                <li><a class="style-list-item" href="#">Детское питание</a></li>
            </ul>
        </div>
        <div class="network">
            <h1 class="footer-sizing">Мобильное приложение MyPharm</h1>
            <div class="logos">
                <img src="../images/google-play-logo.svg" alt="">
                <img src="../images/appstore.png" alt="">
            </div>
            <p class="social-par">Мы в социальных сетях</p>
            <div class="socials">
                <a href="https://www.facebook.com/">
                    <i class="fab fa-facebook sizing-social"></i>
                </a>
                <a href="https://www.instagram.com/">
                    <i class="fab fa-instagram sizing-social"></i>
                </a>
                <a href="https://www.telegram.com/">
                    <i class="fab fa-telegram sizing-social"></i>
                </a>
            </div>
            <p class="location"><i class="fas fa-map-marker-alt"></i>Яккасарайский район, ул. Бабура, 74</p>
        </div>
    </div>
</footer>
<!-- /Footer-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
